@font-face{
	font-family: "alien";
	src: url("alien.ttf")
}
@font-face{
	font-family: "kaviaar";
	src: url("kaviaar.ttf")
}

head{
	font-family: 'Varela Round', sans-serif;
}

body{
	font-family: "kaviaar";
	font-size: 17px;
	background-image: url("background 1.jpg");
	background-size: auto;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

img.me{width: 200px}

nav{
	background-color: black;
	margin-bottom: 0px;
	font-family: "alien"
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
	text-align: center;
}

div{
	background-color: rgba(255,255,255,0.8);
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 30px;
	border-style: none;	
	}

a{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color:grey;
}

.active{
	color: grey;
}

ul{
	list-style-type: none;
	margin:0 auto;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 1000px;
	border-width:medium;
	}

footer{
	color: white;
	position: absolute;
	top: 1000px;
	left: 800px;
	}

p.test {
	word-break: break-all;
}
li{
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}